* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  
}
  


body {
  display: flex;
  justify-content: center;
  background-color: #0a0a10;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px 0px;
  max-width: 414px;
  min-height: 100vh;
  gap: 12px;
}

.blur {
  width: 300px;
  height: 280px;
  background: #ffffff;
  position: absolute;
  z-index: -1;
  fill: #fff;
  opacity: 0.25;
  filter: blur(24px);
  border-radius: 30%;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.container-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}

#data{
  background: #d93856;
  height: 30px;
}

label {
  color: rgba(255, 255, 255, 0.6);
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.408px;
  margin-bottom: 4px;
  margin-left: 4px;
}

input {
  width: 100%;
  height: 42px;
  margin-bottom: 8px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);

  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.24px;
  padding-left: 4px;
}

input::placeholder {
  color: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
}

.btn-login {
  margin-top: 20px;
  width: 100%;
  height: 68px;
  background: #d93856;
  border: none;

  color: #fff;
  font-size: 17px;
  font-weight: 900;
  line-height: 2.5px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}



.btn-login:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-login:active {
  opacity: 0.6;
}

i {
  color: #fff;
  font-size: 22px;
  font-weight: 900;
  line-height: 2.5px;
}

.btn-google {
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  border: none;
  background: rgba(255, 255, 255, 0.14);
  color: #fff;
  font-size: 17px;
  font-weight: 900;
  line-height: 2.5px;
  gap: 12px;
}

.btn-google:hover {
  opacity: 0.8;
  cursor: pointer;
}

.btn-google:active {
  opacity: 0.6;
}

.container-link {
  position: relative;
  margin-top: 20px;
}

a {
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 900;
    text-decoration: none;
    width: 100%;
}

a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    background: #d93856;
    bottom: -3px;
    left: 0px;
    transition: 0.3s ease;
}

a:hover::after {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    background: #d93856;
    bottom: -3px;
    left: 0px;
}

span{
    color: #ffffffff;
}
